<!DOCTYPE html>
<html>
<head>
    <title>Restaurant App</title>
</head>
<body>
    <h1>Welcome to the Restaurant Menu App!</h1>

    <h2>Registered Users:</h2>
    {% if users %}
    <table border="1">
        <thead>
            <tr>
                <th>User ID</th>
                <th>Email</th>
                <th>Username</th>
                <th>Phone Number</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.userid }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.phone_number }}</td>
                <td>{{ 'Yes' if user.isAdmin else 'No' }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>No users found.</p>
    {% endif %}
</body>
</html>
